# Linear Regression

Linear Regression is a machine learning algorithm based on supervised learning. It performs a regression task. Regression models a target prediction value based on independent variables. It is mostly used for finding out the relationship between variables and forecasting. Different regression models differ based on – the kind of relationship between dependent and independent variables, they are considering and the number of independent variables being used.

In [1]:
import numpy as np
import pandas as pd 
from matplotlib import pyplot
from sklearn.preprocessing import MinMaxScaler

In [2]:
dataset=pd.read_csv('airfoil.csv',header=None)

In [3]:
dataset.head()

        0     1       2     3         4        5
0  8000.0   4.0  0.2286  39.6  0.004738  113.129
1  6300.0   0.0  0.0508  55.5  0.000762  132.796
2   400.0   4.0  0.2286  55.5  0.004286  123.274
3  1250.0  15.4  0.0508  39.6  0.028259  126.743
4   800.0   7.3  0.2286  39.6  0.012348  126.299

In [4]:
x=dataset.iloc[:,:-1]
y=dataset.iloc[:,5]

In [5]:
x.head()

        0     1       2     3         4
0  8000.0   4.0  0.2286  39.6  0.004738
1  6300.0   0.0  0.0508  55.5  0.000762
2   400.0   4.0  0.2286  55.5  0.004286
3  1250.0  15.4  0.0508  39.6  0.028259
4   800.0   7.3  0.2286  39.6  0.012348

In [6]:
y.head()

0    113.129
1    132.796
2    123.274
3    126.743
4    126.299
Name: 5, dtype: float64

# The weights have been defined on the basis of experiment on the data over numerous values

In [7]:
weights=[1,1,1,1,1,1]
weights=np.asarray(weights)
weights=weights.reshape(len(weights),1)
weights.shape

(6, 1)

In [8]:
scaler=MinMaxScaler()

In [9]:
x=scaler.fit_transform(x)

In [10]:
x

array([[0.39393939, 0.18018018, 0.72727273, 0.19949495, 0.07476783],
       [0.30808081, 0.        , 0.09090909, 0.6010101 , 0.00622727],
       [0.01010101, 0.18018018, 0.72727273, 0.6010101 , 0.06697943],
       ...,
       [0.03030303, 0.09009009, 0.72727273, 0.6010101 , 0.04713909],
       [0.1489899 , 0.14864865, 0.27272727, 1.        , 0.02805586],
       [0.02171717, 0.18018018, 1.        , 0.19949495, 0.0930119 ]])

In [11]:
x=pd.DataFrame(x)

In [12]:

#Bias_array=[1]*(len(x))
#x.insert(loc=0,column='bias',value=Bias_array)

In [13]:
print(x.shape)
x.head()

(1202, 5)

          0         1         2         3         4
0  0.393939  0.180180  0.727273  0.199495  0.074768
1  0.308081  0.000000  0.090909  0.601010  0.006227
2  0.010101  0.180180  0.727273  0.601010  0.066979
3  0.053030  0.693694  0.090909  0.199495  0.480233
4  0.030303  0.328829  0.727273  0.199495  0.205952

# We split the data in train and test phase

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
X_train, X_test, y_train, y_test = train_test_split(x,y, test_size=0.3,random_state=42)

In [16]:
type(X_train)
Bias_array=[1]*(len(X_train))
X_train.insert(loc=0,column='bias',value=Bias_array)
type(X_train)

pandas.core.frame.DataFrame

In [17]:
Bias_array1=[1]*(len(X_test))
X_test.insert(loc=0,column='bias',value=Bias_array1)

In [18]:
y_test=pd.DataFrame(y_test)
type(y_test)

pandas.core.frame.DataFrame

In [19]:
y_train=pd.DataFrame(y_train)
type(y_train)

pandas.core.frame.DataFrame

In [20]:
y_train=y_train.to_numpy()

In [21]:
y_test=y_test.to_numpy()

In [22]:
y_train=y_train.reshape(len(y_train),1)

In [23]:
y_test=y_test.reshape(len(y_test),1)

In [24]:
# y_train
y_test.shape

(361, 1)

In [25]:
# alpha=0.2
# i = 0
# for i in range(0,100000):
#     err = X_train.dot(weights) - y_train
#     cost = np.dot(X_train.T,err)
#     weights = weights-alpha*cost*(1/X_train.shape[0])
   
# predicted_label = np.dot(X_test,weights)

# The algorithm for update of the weights,gradient desecnt

In [26]:
learning_parameter=0.1
iters=1000
for i in range(0,iters):
    error=X_train.dot(weights)-y_train
    cost_fun=(X_train.T.dot(error))
#     print(cost_fun)
    weights=weights-(learning_parameter*cost_fun)*(1/(len(X_train)))
#     print(weights)
predict=X_test.dot(weights)   
# weights.shape  
# y_train.shape
predict

               0
1133  121.313112
425   131.534730
78    128.228367
803   125.202958
590   130.689684
908   129.172335
881   130.809485
543   123.117953
1194  126.535146
930   130.571420
1188  123.648243
814   115.324355
44    119.093931
174   129.195692
123   124.224337
109   112.627558
898   124.837883
439   129.897444
1189  125.600853
296   125.715771
830   130.136463
704   121.208591
362   123.329310
730   126.944289
231   124.155509
70    124.854872
829   125.131223
49    127.392115
367   123.381569
667   125.406187
...          ...
629   121.388497
1139  121.585993
620   129.525336
1079  124.682731
932   128.788273
1121  122.117888
570   123.651743
583   120.013311
273   123.340838
413   124.183554
237   129.563367
723   126.973361
2     127.133705
6     123.518799
311   127.257477
1030  123.367421
352   130.343920
490   122.162510
215   124.209260
382   124.815302
27    123.089271
1159  119.836514
1148  126.368195
552   120.838318
858   131.576801
557   112.059823
649   127.016829
737   126.404069
545   127.424368
354   123.404826

[361 rows x 1 columns]

# R2 Score prediction

In [27]:
from sklearn.metrics import r2_score
print("R2 Score = ",r2_score(y_test,predict))

R2 Score =  0.3972846877457765

# Questions to be experimented with or given a thought atleast

Q)If you want to apply regression on some dataset but one of it’s features has missing
values under below given conditions, how will you approach the problem. (No need
of Code Experimentation)

(a) When 0-0.5% of values are missing of that feature

=> It would be mostly dependent on the problem at hand but mostly for such a minor loss,we can go for some approximation for those points and still consider that feature for our regression problem.

(b) When 8-10% of values are missing of that feature
=> We could still use that feature but it would be better if we first see the correlation between them on output feature. 


(c) When 60-70% of values are missing of that feature
=> If nearly such a large portion of data is missing then we can drop that feature altogether which would be a smart trick rather than using any approximation.